<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://www.wx.tt-cool.com/app_download/H534E3896_1102152002.ipa</string>//ipa文件存放位置	
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>http://www.wx.tt-cool.com/app_download/image57.png</string>//安装时桌面显示的 logo 图标
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://www.wangfanwifi.com/wangfanv20/image512.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ihangmei.wangfanconception</string>
                <key>bundle-version</key>
                <string>1.8.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>WangFan</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
